$background-color: #232729;
$foreground-color: #EEEEEC;
$sub-background-color: #33393b;
$sidebar-background-color: #2B3032;
$sidebar-color: #FFF;
$active-background: #215D9C;
$top-bar-height: 65px;
$bottom-bar-height: 24px;
$sidebar-width: 250px;
$library-list-header-height: 25px;
$library-list-header-color: #898B8B;
$song-labels-height: 20px;
$def-border: 1px solid #000;
$font-size: 16px;
$medium-font: 18px;
$large-font: 20px;
$active-button: radial-gradient($sidebar-background-color, #3D3D3D);

@mixin set-height($h: 100%) {
  min-height: $h;
  height: $h;
  max-height: $h;
}
@mixin song-item-grid() {
  display: grid;
  grid-template-columns: 15px 22px 1fr 25% 25% 65px;
  grid-column-gap: 6px;
  > * {
    overflow: hidden;
  }
}
@mixin no-user-select() {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: $font-size;
  padding: 0;
  margin: 0;
  background: $background-color;
  color: $foreground-color;
}

.library-list {
  @include set-height();
  > h3 {
    padding: 0;
    margin: 0;
    font-size: $medium-font;
    height: $library-list-header-height;
    color: $library-list-header-color;
    border-bottom: $def-border;
  }
  > div {
    height: calc(100% - #{$library-list-header-height});
    overflow: auto;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        &.active {
          background: $active-background;
        }
        .playing {
          visibility: hidden;
        }
        a {
          cursor: pointer;
          padding: 2px 12px;
          display: block;
        }
      }
    }
  }
}
.songs {
  @include set-height();

  .song-labels {
    height: $song-labels-height;
    //TODO: this is check accomodating scrollbar
    color: $library-list-header-color;
    margin-right: 16px;
    @include song-item-grid();
  }
  .song-list {
    .song-item {
      @include song-item-grid();
      padding: 2px 0;
      @include no-user-select();
    }
  }
}

#root {
  @include set-height();
  #wrapper {
    @include set-height();
    #top-bar {
      height: $top-bar-height;
      border-bottom: $def-border;
      background: $sub-background-color;
      display: grid;
      grid-template-columns: 200px 150px 1fr 325px;
      #controls,
      #settings {
        margin-top: 4px;
        text-align: center;
      }
      button {
        margin: 0;
        padding: 10px;
        border: $def-border;
        border-radius: 5px;
        background: $background-color;
        color: $foreground-color;
        cursor: pointer;
        @include no-user-select();
        &:hover {
          background-color: $sidebar-background-color;
        }
        &:active,
        &.active {
          outline: none;
          background-image: $active-button;
        }
        &:focus {
          outline: none;
        }
        svg:focus,svg:active,svg:hover {
          outline: none;
        }
        &.middle {
          border-radius: 0;
          border-right: none;
          border-left: none;
        }
        &.left {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
        &.right {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }

    #middle-area {
      height: calc(100% - #{$top-bar-height} - #{$bottom-bar-height});
      display: grid;
      grid-template-columns: $sidebar-width 1fr;

      #sidebar {
        @include set-height();
        border-right: $def-border;
        background: $sidebar-background-color;
        color: $sidebar-color;
        h2 {
          margin: 5px 7px;
          padding: 0;
          font-size: $large-font;
        }
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          > li {
            &.active {
              background: $active-background;
            }
            a {
              display: block;
              cursor: pointer;
              padding: 4px 15px;
            }
          }
        }
      }

      #queue-list {
        li.active {
          .playing {
            visibility: visible;
          }
        }
      }

      #music-view {
        @include set-height();
        display: grid;
        grid-template-rows: 40% 1fr;

        #artist-albums {
          display: grid;
          grid-template-columns: 1fr 1fr;
        }
        .song-list {
          height: calc(100% - #{$library-list-header-height} - #{$song-labels-height});
        }
      }
    }

    #bottom-bar {
      height: $bottom-bar-height;
      border-top: $def-border;
      background: $sub-background-color;
      padding: 0 10px;
      > span {
        padding: 0 10px;
        .header {
          color: $library-list-header-color;
        }
      }
    }
  }
}
